<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.Department">
        <id column="DEPARTMENT_ID" property="departmentId" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="LEVEL" property="level" />
        <result column="PID" property="pid" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="CREATED_AT" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPARTMENT_ID, COMPANY_ID, DEPARTMENT_NAME, LEVEL, PID, UPDATED_AT, CREATED_AT
    </sql>

</mapper>
