<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.Employee">
        <id column="EMPLOYEE_ID" property="employeeId" />
        <result column="USER_ID" property="userId" />
        <result column="NAME" property="name" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="MOBILE" property="mobile" />
        <result column="EMAIL" property="email" />
        <result column="STATUS" property="status" />
        <result column="COMPANY_NAME" property="companyName" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="CREATED_AT" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         EMPLOYEE_ID, USER_ID, NAME, COMPANY_ID, DEPARTMENT_ID, MOBILE, EMAIL, STATUS, COMPANY_NAME, UPDATED_AT, CREATED_AT
    </sql>

</mapper>
