<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.Employee">
        <id column="EMPLOYEE_ID" property="employeeId"/>
        <result column="USER_ID" property="userId"/>
        <result column="NAME" property="name"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="DEPARTMENT_ID" property="departmentId"/>
        <result column="DEPARTMENT_NAME" property="departmentName"/>
        <result column="MOBILE" property="mobile"/>
        <result column="EMAIL" property="email"/>
        <result column="STATUS" property="status"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="UPDATED_AT" property="updatedAt"/>
        <result column="CREATED_AT" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         EMPLOYEE_ID, USER_ID, NAME, COMPANY_ID, DEPARTMENT_ID, DEPARTMENT_NAME, MOBILE, EMAIL, STATUS, COMPANY_NAME, UPDATED_AT, CREATED_AT
    </sql>

    <select id="selectCompanys" parameterType="String" resultType="map">
        select rynem.COMPANY_NAME, sysro.rval, sysrope.perm_val
        from ryn_employee rynem
        left join ryn_employee_role rynemro
        on rynem.EMPLOYEE_ID = rynemro.employee_id
        left join sys_role sysro
        on rynemro.role_id = sysro.rid
        left join sys_role_perm sysrope
        on rynemro.role_id = sysrope.role_id
        where rynem.USER_ID = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="queryEmployeeIds" resultType="java.lang.String" parameterType="java.util.List">
        select employee_id
        from ryn_employee
        where department_id in
        <foreach collection="departmentIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryListByLimitSearch" resultMap="BaseResultMap" resultType="com.ryuntech.saas.api.model.Employee">
        select * from ryn_employee
        <where>
            <if test="name != null and name != ''">
                and contract_name like concat('%',#{name},'%')
            </if>
            <if test="employeeIdList != null and employeeIdList.size()>0">
                and employee_id in
                <foreach collection="employeeIdList" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>

        </where>
    </select>

    <select id="queryRoleLimitEmployeeIds" resultType="java.util.Map" parameterType="java.util.List">
        select rer.employee_id, sr.rname
        from ryn_employee_role rer
        left join sys_role sr
        on rer.role_id = sr.rid
        <where>
            <if test="employeeIdList != null and employeeIdList.size()>0">
                rer.employee_id in
                <foreach collection="employeeIdList" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>

        </where>
    </select>

</mapper>
