<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.FeedBack">
        <id column="FEEDBACK_ID" property="feedbackId" />
        <result column="FEEDBACK_CONTENT" property="feedbackContent" />
        <result column="FEEDBACK_TYPE" property="feedbackType" />
        <result column="ATTACHMENT_CODE" property="attachmentCode" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="CREATED_AT" property="createdAt" />
        <result column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FEEDBACK_ID, FEEDBACK_CONTENT, FEEDBACK_TYPE, ATTACHMENT_CODE, UPDATED_AT, CREATED_AT
    </sql>

</mapper>
