<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.FollowupRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.FollowupRecord">
        <id column="followup_id" property="followupId" />
        <result column="content" property="content" />
        <result column="staff_id" property="staffId" />
        <result column="staff_name" property="staffName" />
        <result column="attachment_code" property="attachmentCode" />
        <result column="followup_time" property="followupTime" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        followup_id, content, staff_id, staff_name, attachment_code, followup_time, updated_at, created_at
    </sql>

</mapper>
