<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.IndexMapper">

    <resultMap id="BaseResultMap"  type="com.ryuntech.saas.api.model.Index">
        <result column="AMOUNTS" property="amounts" />
        <result column="BALANCE_AMOUNTS" property="balanceAmounts" />
        <result column="CONTRACT_ID" property="contractId" />

    </resultMap>

    <!--查询部门内的合同编号集合-->
    <select id="queryContractIdList" resultType="java.lang.String" parameterType="java.util.List">
        select ryn_receivable_contract.contract_id as contractId
        from ryn_receivable_contract
        where department in
        <foreach collection="departmentNameList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--数据简报本月回款-->
    <select id="queryBackMoney" resultType="java.lang.String" parameterType="com.ryuntech.saas.api.form.IndexDataBriefingForm">
        select concat(sum(ryn_receivable_collection.amount), '') as backMoney
        from ryn_receivable_collection
        <where>
            <if test="indexDataBriefingForm.contractIds !=null and indexDataBriefingForm.contractIds.size()>0">
                ryn_receivable_collection.contract_id in
                <foreach collection="indexDataBriefingForm.contractIds" item="contractId" index="index" open="(" close=")" separator=",">
                    #{contractId}
                </foreach>
            </if>
            <if test="indexDataBriefingForm.sameMonth !=null">
                and DATE_FORMAT(time, '%Y-%m' ) = DATE_FORMAT(#{indexDataBriefingForm.sameMonth}, '%Y-%m' )
            </if>
        </where>
    </select>

    <!--数据简报本月销售额和应收未回款-->
    <select id="queryAmountMoney" resultType="java.util.Map" parameterType="com.ryuntech.saas.api.form.IndexDataBriefingForm">
        select sum(ryn_receivable_contract.contract_amount) as salesVolume, sum(ryn_receivable_contract.balance_amount) as noRepayment
        from ryn_receivable_contract
        <where>
            <if test="indexDataBriefingForm.departmentNames !=null and indexDataBriefingForm.departmentNames.size()>0">
                ryn_receivable_contract.department in
                <foreach collection="indexDataBriefingForm.departmentNames" item="department" index="index" open="(" close=")" separator=",">
                    #{department}
                </foreach>
            </if>
            <if test="indexDataBriefingForm.sameMonth !=null">
                and DATE_FORMAT(contract_time, '%Y-%m' ) = DATE_FORMAT(#{indexDataBriefingForm.sameMonth}, '%Y-%m' )
            </if>
        </where>
    </select>

    <!--统计数据简报信息-->
    <select id="selectBulletin" resultMap="BaseResultMap" resultType="com.ryuntech.saas.api.model.Index">
        select
            --         本月回款
            sum(ryn_receivable_collection.amount) amounts,
            --             应收未回款(应收余额)
            ryn_receivable_contract.balance_amount as balance_amounts,
            ryn_receivable_collection.contract_id
        from ryn_receivable_collection left join ryn_receivable_contract on ryn_receivable_collection.contract_id=ryn_receivable_contract.contract_id
        <where>
            <if test="indexDTO.contractIdList!=null and indexDTO.contractIdList.size()>0">
                ryn_receivable_collection.contract_id in
                <foreach collection="indexDTO.contractIdList" item="contractId" index="index" open="(" close=")" separator=",">
                    #{contractId}
                </foreach>
            </if>
            <if test="indexDTO.startDate!=null and indexDTO.startDate!=''">
                <![CDATA[
                   and  ryn_receivable_collection.contract_time >= #{indexDTO.startDate}
                ]]>
            </if>
            <if test="indexDTO.endDate!=null and indexDTO.endDate!=''">
                <![CDATA[
                        and ryn_receivable_collection.contract_time <= #{indexDTO.endDate}
                ]]>
            </if>
        </where>
        group by contract_id
    </select>

    <!--总待收金额-->
    <select id="selectBalanceAmounts" resultType="String">
        select
	        sum(balance_amount) as balance_amounts
        from
            ryn_receivable_contract
        <where>
            staff_id in (
                select
                    employee_id
                from
                    ryn_employee
                <where>
                        department_id in (
                            select
                                department_id
                            from
                                ryn_employee
                            <where>
                                <if test="weChatIndexDTO.employeeId!=null">
                                    employee_id = #{weChatIndexDTO.employeeId}
                                </if>
                            </where>
                        )
                </where>
            )
            <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                <![CDATA[
                   and contract_time >= #{weChatIndexDTO.startDate}
                ]]>
            </if>
            <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                <![CDATA[
                        and contract_time <= #{weChatIndexDTO.endDate}
                ]]>
            </if>
        </where>
    </select>

    <!--本月新增应收-->
    <select id="selectContractAmounts" resultType="String">
        select
            sum(contract_amount) as contract_amounts
        from
            ryn_receivable_contract
        <where>
            staff_id in (
            select
                employee_id
            from
            ryn_employee
            <where>
                department_id in (
                select
                    department_id
                from
                    ryn_employee
                <where>
                    <if test="weChatIndexDTO.employeeId!=null">
                        employee_id = #{weChatIndexDTO.employeeId}
                    </if>
                </where>
                )
                </where>
            )
            <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                <![CDATA[
                   and contract_time >= #{weChatIndexDTO.startDate}
                ]]>
            </if>
            <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                <![CDATA[
                        and contract_time <= #{weChatIndexDTO.endDate}
                ]]>
            </if>
        </where>
    </select>

    <!--指定日期内的回款-->
    <select id="selectCollectionAmounts" resultType="String">
        select
            sum(amount) as amounts
        from
            ryn_receivable_collection
        where contract_id in(
            select
                contract_id
            from
                ryn_receivable_contract
            <where>
                staff_id in (
                select
                    employee_id
                from
                    ryn_employee
                <where>
                    department_id in (
                    select
                        department_id
                    from
                        ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                       and contract_time >= #{weChatIndexDTO.startDate}
                    ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                            and contract_time <= #{weChatIndexDTO.endDate}
                    ]]>
                </if>
            </where>
        )
    </select>

<!--    已逾期未收款计划数量-->
    <select id="selectOverdueNumber" resultType="Integer">
        select count(*) from ryn_receivable_collection_plan
        <where>
            contract_id in(
            select
                contract_id
            from
                ryn_receivable_contract
            <where>
                staff_id in (
                select
                    employee_id
                from
                    ryn_employee
                <where>
                    department_id in (
                    select
                        department_id
                    from
                        ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                                   and contract_time >= #{weChatIndexDTO.startDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                                        and contract_time <= #{weChatIndexDTO.endDate}
                                ]]>
                </if>
            </where>
            )
            <if test="weChatIndexDTO.status!=null and weChatIndexDTO.status!=''">
                <![CDATA[
                            and status = #{weChatIndexDTO.status}
                    ]]>
            </if>
        </where>
    </select>

<!--已逾期未收款金额 expire-->
    <select id="selectOverdueSum" resultType="String">
        select
            sum(balance_amount) as balanceAmounts
        from
            ryn_receivable_contract
        where
            contract_id in(
        select contract_id from ryn_receivable_collection_plan
        <where>
            contract_id in(
            select
            contract_id
            from
            ryn_receivable_contract
            <where>
                staff_id in (
                select
                employee_id
                from
                ryn_employee
                <where>
                    department_id in (
                    select
                    department_id
                    from
                    ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                                   and contract_time >= #{weChatIndexDTO.startDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                                        and contract_time <= #{weChatIndexDTO.endDate}
                                ]]>
                </if>
            </where>
            )
            <if test="weChatIndexDTO.status!=null and weChatIndexDTO.status!=''">
                <![CDATA[
                            and status = #{weChatIndexDTO.status}
                    ]]>
            </if>
        </where>
        )

    </select>


    <!--指定时间内计划的到期列表 expire-->
    <select id="selectExpireList" resultType="com.ryuntech.saas.api.model.ReceivableCollectionPlan">
        select * from ryn_receivable_collection_plan
        <where>
            contract_id in(
            select
                contract_id
            from
                ryn_receivable_contract
            <where>
                staff_id in (
                select
                employee_id
                from
                ryn_employee
                <where>
                    department_id in (
                    select
                    department_id
                    from
                    ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                                   and contract_time >= #{weChatIndexDTO.startDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                                        and contract_time <= #{weChatIndexDTO.endDate}
                                ]]>
                </if>

                <if test="weChatIndexDTO.contractStatus!=null and weChatIndexDTO.contractStatus!=''">
                    <![CDATA[
                                        and status <= #{weChatIndexDTO.contractStatus}
                                ]]>
                </if>
            </where>
            )

            <if test="weChatIndexDTO.status!=null and weChatIndexDTO.status!=''">
                <![CDATA[
                            and status = #{weChatIndexDTO.status}
                    ]]>
            </if>

            <if test="customerRiskForm.statusList!=null and customerRiskForm.statusList.size()>0">
                and status in
                <foreach collection="customerRiskForm.statusList" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>


            <if test="weChatIndexDTO.planStartDate!=null and weChatIndexDTO.planStartDate!=''">
                <![CDATA[
                                   and plan_time >= #{weChatIndexDTO.planStartDate}
                                ]]>
            </if>
            <if test="weChatIndexDTO.planEndDate!=null and weChatIndexDTO.planEndDate!=''">
                <![CDATA[
                                        and plan_time <= #{weChatIndexDTO.planEndDate}
                                ]]>
            </if>


        </where>
    </select>

    <!--指定时间内计划的数目 expire-->
    <select id="selectExpireNumber" resultType="Integer">
        select count(*) from ryn_receivable_collection_plan
        <where>
            contract_id in(
            select
            contract_id
            from
            ryn_receivable_contract
            <where>
                staff_id in (
                select
                employee_id
                from
                ryn_employee
                <where>
                    department_id in (
                    select
                    department_id
                    from
                    ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                                   and contract_time >= #{weChatIndexDTO.startDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                                        and contract_time <= #{weChatIndexDTO.endDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.contractStatus!=null and weChatIndexDTO.contractStatus!=''">
                    <![CDATA[
                                        and status <= #{weChatIndexDTO.contractStatus}
                                ]]>
                </if>
            </where>
            )

            <if test="weChatIndexDTO.status!=null and weChatIndexDTO.status!=''">
                <![CDATA[
                            and status = #{weChatIndexDTO.status}
                    ]]>
            </if>


            <if test="weChatIndexDTO.planStartDate!=null and weChatIndexDTO.planStartDate!=''">
                <![CDATA[
                                   and plan_time >= #{weChatIndexDTO.planStartDate}
                                ]]>
            </if>
            <if test="weChatIndexDTO.planEndDate!=null and weChatIndexDTO.planEndDate!=''">
                <![CDATA[
                                        and plan_time <= #{weChatIndexDTO.planEndDate}
                                ]]>
            </if>


        </where>
    </select>

    <!--指定时间内计划的金额 expire-->
    <select id="selectExpireSum" resultType="String">
        select
            sum(balance_amount) as balanceAmounts
        from
        ryn_receivable_contract
            where contract_id in(
        select contract_id from ryn_receivable_collection_plan
        <where>
            contract_id in(
            select
            contract_id
            from
            ryn_receivable_contract
            <where>
                staff_id in (
                select
                employee_id
                from
                ryn_employee
                <where>
                    department_id in (
                    select
                    department_id
                    from
                    ryn_employee
                    <where>
                        <if test="weChatIndexDTO.employeeId!=null">
                            employee_id = #{weChatIndexDTO.employeeId}
                        </if>
                    </where>
                    )
                </where>
                )
                <if test="weChatIndexDTO.startDate!=null and weChatIndexDTO.startDate!=''">
                    <![CDATA[
                                   and contract_time >= #{weChatIndexDTO.startDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.endDate!=null and weChatIndexDTO.endDate!=''">
                    <![CDATA[
                                        and contract_time <= #{weChatIndexDTO.endDate}
                                ]]>
                </if>
                <if test="weChatIndexDTO.contractStatus!=null and weChatIndexDTO.contractStatus!=''">
                    <![CDATA[
                                        and status <= #{weChatIndexDTO.contractStatus}
                                ]]>
                </if>
            </where>
            )

            <if test="weChatIndexDTO.status!=null and weChatIndexDTO.status!=''">
                <![CDATA[
                            and status = #{weChatIndexDTO.status}
                    ]]>
            </if>


            <if test="weChatIndexDTO.planStartDate!=null and weChatIndexDTO.planStartDate!=''">
                <![CDATA[
                                   and plan_time >= #{weChatIndexDTO.planStartDate}
                                ]]>
            </if>
            <if test="weChatIndexDTO.planEndDate!=null and weChatIndexDTO.planEndDate!=''">
                <![CDATA[
                                        and plan_time <= #{weChatIndexDTO.planEndDate}
                                ]]>
            </if>


        </where>
        )
    </select>
<!--    totalContractNumber合同总数-->
    <select id="totalContractNumber" resultType="Integer">
        select
            count(*)
        from
        ryn_receivable_contract
        where contract_id in(
        select
        contract_id
        from
        ryn_receivable_contract
        <where>
            staff_id in (
            select
            employee_id
            from
                ryn_employee
            <where>
                department_id in (
                select
                department_id
                from
                    ryn_employee
                <where>
                    <if test="weChatIndexDetailForm.employeeId!=null">
                        employee_id = #{weChatIndexDetailForm.employeeId}
                    </if>
                </where>
                )
            </where>
            )
            <if test="weChatIndexDetailForm.startDate!=null and weChatIndexDetailForm.startDate!=''">
                <![CDATA[
                                   and contract_time >= #{weChatIndexDetailForm.startDate}
                                ]]>
            </if>
            <if test="weChatIndexDetailForm.endDate!=null and weChatIndexDetailForm.endDate!=''">
                <![CDATA[
                                        and contract_time <= #{weChatIndexDetailForm.endDate}
                                ]]>
            </if>
        </where>
        )

        <if test="weChatIndexDetailForm.status!=null and weChatIndexDetailForm.status!=''">
            <![CDATA[
                            and status = #{weChatIndexDetailForm.status}
                    ]]>
        </if>


        <if test="weChatIndexDetailForm.planStartDate!=null and weChatIndexDetailForm.planStartDate!=''">
            <![CDATA[
                                   and plan_time >= #{weChatIndexDetailForm.planStartDate}
                                ]]>
        </if>
        <if test="weChatIndexDetailForm.planEndDate!=null and weChatIndexDetailForm.planEndDate!=''">
            <![CDATA[
                                        and plan_time <= #{weChatIndexDetailForm.planEndDate}
                                ]]>
        </if>

    </select>

<!--    客户总数-->
    <select id="totalCustomerNumber" resultType="Integer">
        select count(*) from ryn_customer_user_info
        <where>
            customer_id in (
                select
                    customer_id
                from
                ryn_receivable_contract
                    <where>
                        staff_id in (
                        select
                        employee_id
                        from
                            ryn_employee
                        <where>
                            department_id in (
                            select
                            department_id
                            from
                                ryn_employee
                            <where>
                                <if test="weChatIndexDetailForm.employeeId!=null">
                                    employee_id = #{weChatIndexDetailForm.employeeId}
                                </if>
                            </where>
                            )
                        </where>
                        )
                        <if test="weChatIndexDetailForm.startDate!=null and weChatIndexDetailForm.startDate!=''">
                            <![CDATA[
                                               and contract_time >= #{weChatIndexDetailForm.startDate}
                                            ]]>
                        </if>
                        <if test="weChatIndexDetailForm.endDate!=null and weChatIndexDetailForm.endDate!=''">
                            <![CDATA[
                                                    and contract_time <= #{weChatIndexDetailForm.endDate}
                                            ]]>
                        </if>
                        <if test="weChatIndexDetailForm.contractStatus!=null and weChatIndexDetailForm.contractStatus!=''">
                            <![CDATA[
                                        and status <= #{weChatIndexDetailForm.contractStatus}
                                ]]>
                        </if>
                    </where>
                    )

                <if test="weChatIndexDetailForm.status!=null and weChatIndexDetailForm.status!=''">
                    <![CDATA[
                                    and status = #{weChatIndexDetailForm.status}
                            ]]>
                </if>


                <if test="weChatIndexDetailForm.planStartDate!=null and weChatIndexDetailForm.planStartDate!=''">
                    <![CDATA[
                                           and plan_time >= #{weChatIndexDetailForm.planStartDate}
                                        ]]>
                </if>
                <if test="weChatIndexDetailForm.planEndDate!=null and weChatIndexDetailForm.planEndDate!=''">
                    <![CDATA[
                                                and plan_time <= #{weChatIndexDetailForm.planEndDate}
                                        ]]>
                </if>
        </where>

    </select>
<!--合同总数-->
    <select id="totalReceivableSum" resultType="com.ryuntech.saas.api.model.ReceivableContract">
        select
            *
        from
        ryn_receivable_contract
        where contract_id in(
        select
            contract_id
        from
            ryn_receivable_contract
        <where>
            staff_id in (
            select
            employee_id
            from
                ryn_employee
            <where>
                department_id in (
                select
                department_id
                from
                    ryn_employee
                <where>
                    <if test="weChatIndexDetailForm.employeeId!=null">
                        employee_id = #{weChatIndexDetailForm.employeeId}
                    </if>
                </where>
                )
            </where>
            )
            <if test="weChatIndexDetailForm.startDate!=null and weChatIndexDetailForm.startDate!=''">
                <![CDATA[
                                           and contract_time >= #{weChatIndexDetailForm.startDate}
                                        ]]>
            </if>
            <if test="weChatIndexDetailForm.endDate!=null and weChatIndexDetailForm.endDate!=''">
                <![CDATA[
                                                and contract_time <= #{weChatIndexDetailForm.endDate}
                                        ]]>
            </if>
        </where>
        )

        <if test="weChatIndexDetailForm.status!=null and weChatIndexDetailForm.status!=''">
            <![CDATA[
                                    and status = #{weChatIndexDetailForm.status}
                            ]]>
        </if>


        <if test="weChatIndexDetailForm.planStartDate!=null and weChatIndexDetailForm.planStartDate!=''">
            <![CDATA[
                                           and plan_time >= #{weChatIndexDetailForm.planStartDate}
                                        ]]>
        </if>
        <if test="weChatIndexDetailForm.planEndDate!=null and weChatIndexDetailForm.planEndDate!=''">
            <![CDATA[
                                                and plan_time <= #{weChatIndexDetailForm.planEndDate}
                                        ]]>
        </if>

    </select>
</mapper>
