<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.ReceivableCollectionPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.ReceivableCollectionPlan">
        <id column="PLAN_ID" property="planId" />
        <result column="PLAN_AMOUNT" property="planAmount" />
        <result column="REMAKES" property="remakes" />
        <result column="STATUS" property="status" />
        <result column="CONTRACT_ID" property="contractId" />
        <result column="PLAN_TIME" property="planTime" />
        <result column="BACKED_AMOUNT" property="backedAmount" />
        <result column="SURPLUS_AMOUNT" property="surplusAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PLAN_ID, PLAN_AMOUNT, REMAKES, STATUS, CONTRACT_ID, PLAN_TIME, BACKED_AMOUNT, SURPLUS_AMOUNT
    </sql>

    <select id="selectPageList" resultMap="BaseResultMap" resultType="com.ryuntech.saas.api.model.ReceivableCollectionPlan">
        select *
        from ryn_receivable_collection_plan
        <where>
            <if test="receivableCollectionPlan.planId!=null and receivableCollectionPlan.planId!=''">
                plan_id like concat('%',#{receivableCollectionPlan.planId},'%')
            </if>
            <if test="receivableCollectionPlan.contractId!=null and receivableCollectionPlan.contractId!=''">
                and contract_id like concat('%',#{receivableCollectionPlan.contractId},'%')
            </if>
        </where>
    </select>



    <!--批量插入-->
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
        insert into ryn_receivable_collection_plan
        ( plan_id, plan_amount, remakes, status, contract_id, plan_time, backed_amount, surplus_amount)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.planId},
                #{item.planAmount},
                #{item.remakes},
                #{item.status},
                #{item.contractId},
                #{item.planTime},
                #{item.backedAmount},
                #{item.surplusAmount},
            )
        </foreach>
    </insert>

</mapper>
