<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.SysRolePermMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.SysRolePerm">
        <result column="role_id" property="roleId" />
        <result column="perm_id" property="permId" />
    </resultMap>

    <insert id="batchInsert" parameterType="com.ryuntech.saas.api.model.SysRolePerm">
        insert into sys_role_perm
        (role_id, perm_id)
        values
        <foreach collection="rolePermList" item="rp" separator=",">
            (#{rp.roleId}, #{rp.permId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        delete from sys_role_perm where ROLE_ID = #{roleId}
    </delete>

</mapper>
