<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.UserWechatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.UserWechat">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="union_id" property="unionId" />
        <result column="miniprogram_openid" property="miniprogramOpenid" />
        <result column="gongzhonghao_openid" property="gongzhonghaoOpenid" />
        <result column="subscribe" property="subscribe" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="headimgurl" property="headimgurl" />
        <result column="language" property="language" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="remark" property="remark" />
        <result column="groupid" property="groupid" />
        <result column="subscribe_scene" property="subscribeScene" />
        <result column="tagid_list" property="tagidList" />
        <result column="qr_scene" property="qrScene" />
        <result column="qr_scene_str" property="qrSceneStr" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, union_id, miniprogram_openid, gongzhonghao_openid, subscribe, nickname, sex, province, city, country, headimgurl, language, subscribe_time, remark, groupid, subscribe_scene, tagid_list, qr_scene, qr_scene_str, updated_at, created_at
    </sql>

</mapper>
