<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.UserWechatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.UserWechat">
        <id column="OPEN_ID" property="openId" />
        <result column="USER_ID" property="userId" />
        <result column="IMG_URL" property="imgUrl" />
        <result column="SESSION_KEY" property="sessionKey" />
        <result column="NICKNAME" property="nickname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, OPEN_ID, IMG_URL, SESSION_KEY, NICKNAME
    </sql>

</mapper>
